{% extends 'layout.html' %}

{% block title %}Виртуальный помощник{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 home-info">
            <h1 class="generate-title">Сгенерировать фильмы</h1>
            <div class="d-flex">
                <form data-target="spin-id" method="post" action="/">
                    <input class="btn generate-button" type="submit" value="РЕКОМЕНДОВАТЬ" name="generate" />
                </form>
                <div id="spin-id" class="spinner-border sp" role="status" style="display: none">
                  <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}