{% extends 'layout.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="container profile-container">
    <div class="row">
        <div class="col-4 profile-col">
            <div class="profile-info">
                <h2 class="profile-title">Добро пожаловать, {{ account['name'] }}</h2>
                <p class="info">Рекомендации подобраны для VK ID {{ account['vk_id'] }}</p>
            </div>
            <div class="profile-info">
                <h2 class="profile-title">Буду смотреть:</h2>
                <table>
                    {% for rec in flist %}
                    <tr>
                        <td>{{ rec['film'] }}</td>
                        <td>
                            <form method="post" action="{{ url_for('profile') }}">
                                <input type="text" name="film-id" hidden=True value="{{ rec['film'] }}" />
                                <input class="btn profile-button like-btn" type="submit" value="✔" name="like" />
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{{ url_for('profile') }}">
                                <input type="text" name="film-id" hidden=True value="{{ rec['film'] }}" />
                                <input class="btn profile-button dislike-btn" type="submit" value="✘" name="dislike" />
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{{ url_for('profile') }}">
                                <input type="text" name="film-id" hidden=True value="{{ rec['film'] }}" />
                                <input class="btn profile-button" type="submit" value="УДАЛИТЬ" name="delete" />
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-6 profile-col">
            <div class="profile-info">
                <h2 class="profile-title">История оценок:</h2>
                <table>
                    {% for rec in history %}
                    <tr>
                        <td>{{ rec['film'] }}</td>
                        <td>
                            <p class="profile-rating">{{ rec['rating'] }}</p>
                        </td>
                        <td>
                            <form method="post" action="{{ url_for('profile') }}">
                                <input type="text" name="film-id" hidden=True value="{{ rec['film'] }}" />
                                <input class="btn profile-button" type="submit" value="ИЗМЕНИТЬ" name="edit" />
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}